!/log/.keep
*.comments
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
/config/application.yml
/log/*
/public/assets/
/public/uploads/
/public/*.pdf
/tmp
Gemfile.lock
passenger.*.*
rails_best_practices_output.html
REVISION
.ruby-gemset
.ruby-version
