!/log/.keep
*.comments
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.rubocop.yml
.rubocop_todo.yml
/config/application.yml
/log/*
/public/assets
/public/uploads/
/tmp
passenger.3000.*
rails_best_practices_output.html
REVISION