meta charset='utf-8'
meta name='yandex-verification' content='503d8909f76eb7ce'
meta name='google-site-verification' content='w3xT4haMqIDKUGh6FQvWDSkPFwCsRMC0Xe4gzOZhLqQ'
meta name='viewport' content='width=960, initial-scale=1, maximum-scale=1, minimal-ui'
meta content='IE=edge' http-equiv='X-UA-Compatible'
meta itemprop="name" content="Курсомир"
meta itemprop="image" content=image_url("kursomir.png")
meta name="twitter:card" content="summary"
meta name="twitter:site" content="Курсомир"
meta name="twitter:title" content="#{yield :title}"
meta name="twitter:domain" content="kursomir.ru"
meta property="og:site_name" content="Курсомир"
meta property="og:url" content="#{request.original_url}"
meta property="og:type" content="website"
meta property="og:title" content="#{yield :title}"
- if content_for? :description
  meta property="og:description" content="#{yield :description}"
  meta name="twitter:description" content="#{yield :description}"
  meta itemprop="description" content="#{yield :description}"
- else
  meta property="og:description" content="Мы - сообщество людей, желающих сделать перевод лекций MIT на русский язык"
  meta name="twitter:description" content="Мы - сообщество людей, желающих сделать перевод лекций MIT на русский язык"
  meta itemprop="description" content="Мы - сообщество людей, желающих сделать перевод лекций MIT на русский язык"
- if content_for? :image
  meta name="twitter:image:src" content="#{yield :image}"
  meta property="og:image" content="#{yield :image}"
- else
  meta property="og:image" content=image_url("kursomir.png")
  meta name="twitter:image:src" content=image_url("kursomir.png")
link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic,700,700italic' rel='stylesheet'
title= yield :title
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags