.card
  position: relative
  margin: 20px 0
  @include size(100%, 230px)
  overflow: hidden
  border-radius: 10px
  will-change: transform

  &__source
    color: #53C24C
    font:
      size: 16px
      weight: bold
    padding: 0 25px

  &-item:first-child
    margin-top: 0

  &_mini
    border-radius: 4px
    height: auto

    &:last-child
      margin-bottom: 0
  
  &_admin
    display: inline-block
    margin: 0
    width: auto

  &-container
    position: absolute
    z-index: 1
    top: 0
    left: 0
    @include size(100%)
    background-image: linear-gradient(to top, rgba(#000, .7) 0, rgba(#000, 0) 50%)
    @include transition(transform)

    &:after
      position: absolute
      z-index: 1
      top: 100%
      left: 0
      @include size(100%)
      content: ''
      background-color: rgba(#000, .7)

    &:hover

      .card__descr
        transform: translateY(-15px)

  &__image
    display: block
    @include size(100%, auto)

    &_admin
      width: auto
    
    &_admin_layer
      position: relative

    &_admin_btn
      z-index: 2
      cursor: pointer
      display: block
      background: $color-red
      border-radius: 50%
      @include size(40px, 40px)
      @extend %vh-align
      @include transition(background)

      &:after
        content: ''
        @include size(20px, 20px)
        background: url(asset-path('close_btn.svg')) no-repeat
        @extend %vh-align

      &:hover
        background: darken($color-red, 10%)

  &__date
    position: absolute
    z-index: 2
    top: 25px
    left: 25px

    &_mini
      left: 15px
      top: 15px

  &__title
    position: absolute
    z-index: 3
    bottom: 25px
    left: 0
    padding: 0 25px
    font:
      weight: 700
      size: 20px
    color: #fff
    line-height: 1.25

    &_mini
      bottom: 15px
      padding: 0 15px
      font-size: 14px

  &__descr
    position: absolute
    z-index: 3
    top: 100%
    left: 0
    padding: 0 25px
    font-size: 14px
    letter-spacing: -.3px
    color: #fff
    line-height: 1.5
    transform: translateY(30px)
    @include transition(transform)

  &__menu
    position: absolute
    z-index: 2
    top: 25px
    right: 25px
    background-color: rgba(#000, .5)
    box-shadow: 0 0 20px 1px rgba(#000, .5)
    cursor: pointer

    .icon
      fill: #fff

    &:hover

      .icon
        fill: $color-red
