.card
  padding: 20px
  width: 370px
  background-color: #ffffff
  border: 1px solid #e3e3e3
  border-radius: 4px
  box-shadow: 3px 3px 13px rgba(#000, .12)
  
  &__title
    font:
      size: 16px
      weight: 500
    color: $color-black
    
  &__subtitle
    padding-top: 5px
    font-size: 14px
    color: #bdbdbd
    
