.form-field
	margin-bottom: 20px

	&__label

		label
			display: inline-block
			font-weight: bold
			color: $color-another-gray
			margin-bottom: 8px
			letter-spacing: 0.0001em

			&.required:after
				content: '*'
				padding-left: 3px
				color: $color-red
	
	&-separated
		border-top: 1px solid $color-light-gray
		padding: 20px 0
		margin: 0

		&-last
			border-bottom: 1px solid $color-light-gray

	&__input

		&_hs
			width: 50%

.field_with_errors 
	
	input,
	.mce-statusbar
		border-color: #F6A8A2
		background: #FCDFDD
	
	.mce-tinymce,
	.select
		border-color: #F6A8A2
