.button
  cursor: pointer
  padding: 0 20px
  display: inline-block
  text-align: center
  line-height: 48px
  color: $color-text
  font-size: 16px
  letter-spacing: -.53px
  background-color: transparent
  text-transform: uppercase
  text-decoration: none
  border: 1px solid $color-light-gray
  border-radius: 40px
  @include transition(border-color color background-color)

  &:hover
    border-color: $color-red
    color: $color-red
  
  &_size_little
    font-size: 14px
    line-height: 16px
    padding: 0 8px
    text-transform: none

  &_size_big
    line-height: 43px

  &_circle
    border-radius: 50%
    padding: 0
    height: 30px
    width: 30px
    line-height: 25px
    text-align: center

  &-content
    border-radius: 10px
    padding: 15px 0

  &_color_white
    background: transparent
    border: 1px solid #fff
    color: #fff

    &:hover
      background: #fff
      border-color: #fff
      color: #000

  &_text_purple:hover
    color: $color-purple

  &_text_red:hover
    color: $color-another-red

  &_text_vinous:hover
    color: $color-vinous

  &_text_dark_pink:hover
    color: $color-dark-pink

  &_text_size_normal
    font-size: 13px

  &_ttrans_none
    text-transform: none

  &_color_green
    background-color: $color-green
    border-color: $color-green
    color: #fff

    &:hover
      background-color: #339350
      border-color: #339350
      color: #fff


  &_color_red
    background-color: $color-red
    border-color: $color-red
    color: #fff

    &:hover
      background-color: #bd2519
      border-color: #bd2519
      color: #fff

  &_mr_15
    margin-right: 15px
