.button
  cursor: pointer
  padding: 0 20px
  display: inline-block
  line-height: 48px
  color: $color-text
  font-size: 16px
  letter-spacing: -.53px
  background-color: transparent
  text-transform: uppercase
  text-decoration: none
  border: 1px solid $color-light-gray
  border-radius: 40px
  @include transition(border-color color background-color)

  &:hover
    border-color: $color-red
    color: $color-red

  &_plus_icon
    position: relative
    padding-left: 33px !important

    &:before
      content: ''
      @include size(14px, 14px)
      background: url(asset-path('plus_icon.svg')) no-repeat
      @extend %v-align
      left: 12px
  
  &_circle-download
    padding: 0
    width: 30px
    height: 30px
    position: relative
    @include transition(transform .5s)

    &:before
      content: ''
      @extend %vh-align
      width: 10px
      height: 12px
      background: url(asset-path('arrow_down_white.svg')) no-repeat

    &:hover
      transform: rotate(360deg)

  &_size_small
    text-transform: none
    padding: 0 20px
    font-size: 14px !important
    line-height: 30px

  &_size_medium
    line-height: 38px
    padding: 0 24px
    margin: 15px 0
    text-transform: none
    font-weight: bold

  &_size_big
    line-height: 43px

  &_color_green
    background: $color-green
    border-color: $color-green
    color: #fff

    &:hover
      background: darken($color-green, 10%)
      border-color: darken($color-green, 10%)
      color: darken(#fff, 10%)

  &_color_gray
    background: #b3b3b3
    border-color: #b3b3b3
    color: #fff

    &:hover
      background: darken(#b3b3b3, 10%)
      border-color: darken(#b3b3b3, 10%)
      color: darken(#fff, 10%)

  &_color_white
    background: transparent
    border: 1px solid #fff
    color: #fff

    &:hover
      background: #fff
      border-color: #fff
      color: #000

  &_text_purple:hover
    color: $color-purple

  &_text_red:hover
    color: $color-red

  &_text_vinous:hover
    color: $color-vinous

  &_text_dark_pink:hover
    color: $color-dark-pink

  &_text_size_normal
    font: 
      size: 13px
      weight: normal

  &_color_red
    background-color: $color-red
    border-color: $color-red
    color: #fff

    &:hover
      background: darken($color-red, 10%)
      border-color: darken($color-red, 10%)
      color: darken(#fff, 10%)
  
  &_icon_download
    padding-left: 33px
    position: relative

    &:before
      content: ''
      @extend %v-align
      left: 14px
      width: 12px
      height: 12px
      background: url(asset-path('arrow_down_white.svg')) no-repeat

  &_big_green
    display: block
    background: $color-green
    padding: 12px 28px
    border-radius: 5px
    border: none
    line-height: normal
    text-transform: none
    text-align: center

    &:hover
      background: darken($color-green, 10%)

    &__title
      font:
        size: 17px
        weight: bold
      color: #fff

    &__subtitle
      color: #fff