.button
  cursor: pointer
  padding: 0 20px
  display: inline-block
  line-height: 48px
  color: $color-text
  font-size: 16px
  letter-spacing: -.53px
  background-color: transparent
  text-transform: uppercase
  text-decoration: none
  border: 1px solid $color-light-gray
  border-radius: 40px
  @include transition(border-color color background-color)

  &:hover
    border-color: $color-red
    color: $color-red

  &_size_big
    line-height: 43px

  &_color_white
    background: transparent
    border: 1px solid #fff
    color: #fff

    &:hover
      background: #fff
      border-color: #fff
      color: #000

  &_text_purple:hover
    color: $color-purple

  &_text_red:hover
    color: $color-another-red

  &_text_vinous:hover
    color: $color-vinous

  &_text_dark_pink:hover
    color: $color-dark-pink

  &_text_size_normal
    font-size: 13px

  &_color_red
    background-color: $color-red
    border-color: $color-red
    color: #fff

    &:hover
      background-color: #bd2519
      border-color: #bd2519
      color: #fff
