
%red-link a
  color: $color-red
  text-decoration: none

  &:hover
    text-decoration: underline


.collabs
  padding: 0
  width: 75%
  font-size: 14px
  font-size: 1rem
  display: flex
  justify-content: space-between
  align-items: stretch
  flex-wrap: wrap
  position: relative

  &__header
    float: left
    margin: 15px 0
    display: block
    width: 75%

.collab
  position: relative
  background-color: #FFF
  border-radius: 5px
  padding: 15px
  padding-bottom: 52px
  margin-bottom: 20px
  width: 23%

  &__avatar
    display: block
    margin: 0 auto 20px
    @include size(90px)

  &__name
    color: $color-red
    font-size: 18px
    line-height: 1.25
    text-align: center
    @extend %red-link

  &__post
    padding-top: 5px
    color: $color-text
    line-height: 1.25
    text-align: center
    font-weight: 300

  &__descr
    @extend %h-align
    bottom: 20px

  &__email
    display: inline-block
    @include size(16px, 12px) 
    background: url(asset-path('email_icon.svg')) no-repeat

    &:hover
      fill: $color-red


.tlate
  width: 75%
  float: left
  display: flex
  justify-content: space-between

  &__col
    width: 48.5%
    position: relative

  &__group
    border-radius: 5px
    background-color: #FFF
    padding: 15px

    & + &
      margin-top: 20px

    &__avatar
      float: left
      @include size(50px)
      margin-right: 10px

    &__mini-avatar
      float: left
      @include size(40px)
      margin-right: 10px

    &__name
      color: $color-red
      @extend %red-link

      &_fs_16
        font-size: 16px

      &_fs_14
        font-size: 14px
        line-height: 40px

    &__post
      color: $color-text
      font-size: 14px
      margin-top: 5px
      line-height: 1.25
      font-weight: 300

.translator
  height: 60px
  padding: 10px 0
