.collabs
  padding: 0
  width: 75%
  font-size: 14px
  font-size: 1rem
  display: flex
  justify-content: space-between
  align-items: stretch
  flex-wrap: wrap

  .collab
    background-color: #FFF
    border-radius: 5px
    padding: 15px
    min-width: 180px

    & + &
      margin-top: 20px

    &__avatar
      display: block
      margin: 0 auto 20px
      @include size(90px)

    &__name
      color: $color-red
      font-size: 18px
      line-height: 1.25
      text-align: center

      a
        color: $color-red
        text-decoration: none
        
        &:hover
          text-decoration: underline

    &__post
      padding-top: 5px
      color: $color-text
      line-height: 1.25
      text-align: center
      font-weight: 300

    &__descr
      position: relative
      padding: 20px
      font-weight: 300
      line-height: 1.5
      text-align: center