.order
  padding-top: 10px

  &__item
    position: relative
    padding-left: 20px

    & + &
      margin-top: 15px

  &__num
    position: absolute
    top: 0
    left: 0
    font-weight: 700
<<<<<<< HEAD

  &--mh_400
    max-height: 405px
    overflow: auto

  &--block li
    display: block
    position: relative
    padding: 15px 0 0 0
    margin: 0 auto

  &--div li
    border-top: 1px solid $color-light-gray
=======
  
  &--red li
    list-style-type: none

    &:before
      position: absolute 
      top: 0
      left: 0
      content: "●"
      color: $color-red
>>>>>>> dbbf5f3... Add new page 'about'
