.text
  font-size: 14px
  color: $color-text
  line-height: 1.25
  
  &_red
    color: $color-red

  &_black
    color: #000

  &_white
    color: #FFF

  &_gray
    color: $color-gray

  &_dgray
    color: $color-dark-gray

  &_bold
    font-weight: 700

  &_light
    font-weight: 300

  &_italic
    font-style: italic

  & + &
    margin-top: 20px

  &_lh3_0
    line-height: 30px

  &_indent_10

    & + &
      margin-top: 10px
